body{
    background-color:#C1F4C5;
    }


 h3{
     color: rgb(201, 1, 1);
 }   

hr
{
    
    border-style: none;
    border-top-style: dotted ;
    border-color: grey;
    border-radius: 5 px;
    border-width: 5px;
    width: 5%
}
